# Regression - Training and Testing

Here, we're going to make a regression algorithm to predict "Adj Close" price of a stock.

## Goal

Implement a Regression algorithm that trains and tests a trading a symbol to predict its price value.

## Import libraries

In [11]:
import pandas as pd
import numpy as np  
import datetime as dt
import math

# To fetch data
from pandas_datareader import data as pdr   
import fix_yahoo_finance as yf  
yf.pdr_override()   

from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

from util import create_df_benchmark, get_data, fetchOnlineData
from strategyLearner import strategyLearner
from marketsim import compute_portvals_single_symbol, market_simulator
from indicators import get_momentum, get_sma, get_sma_indicator, compute_bollinger_value, get_RSI, plot_cum_return,  plot_momentum, plot_sma_indicator, plot_rsi_indicator, plot_momentum_sma_indicator, plot_stock_prices

## Initial variables

In [4]:
symbol = "AMZN"
# Specify the start and end dates for this period.
start_d = dt.datetime(2008, 1, 1)
#end_d = dt.datetime(2018, 10, 30)
yesterday = dt.date.today() - dt.timedelta(1)
end_d = yesterday

### Get portfolio data from Yahoo

In [5]:
portf_value = fetchOnlineData(start_d, end_d, symbol)

[*********************100%***********************]  1 of 1 downloaded

In [16]:
portf_value

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-12-31,93.809998,94.370003,92.449997,92.639999,92.639999,5755200
2008-01-02,95.349998,97.430000,94.699997,96.250000,96.250000,13858700
2008-01-03,96.059998,97.250000,94.519997,95.209999,95.209999,9122500
2008-01-04,93.260002,93.400002,88.500000,88.790001,88.790001,10270000
2008-01-07,88.620003,90.570000,85.470001,88.820000,88.820000,9981600
2008-01-08,87.550003,91.830002,86.930000,87.879997,87.879997,12283300
2008-01-09,87.559998,87.800003,80.239998,85.220001,85.220001,16410900
2008-01-10,83.980003,85.970001,82.970001,84.260002,84.260002,11609900
2008-01-11,84.029999,84.029999,80.290001,81.080002,81.080002,10624300
2008-01-14,82.180000,83.320000,78.870003,82.870003,82.870003,9056100
2008-01-15,80.489998,81.010002,78.510002,80.239998,80.239998,9655900
2008-01-16,79.580002,82.360001,78.440002,80.349998,80.349998,12407000
2008-01-17,80.160004,82.250000,79.540001,80.120003,80.120003,9900900
2008-01-18,79.930000,82.309998,78.040001,79.760002,79.760002,13364300
2008-01-22,73.580002,79.720001,72.220001,78.480003,78.480003,12822200
2008-01-23,75.599998,76.800003,69.949997,73.970001,73.970001,20405700
2008-01-24,74.529999,77.879997,74.190002,77.669998,77.669998,9886600
2008-01-25,78.690002,81.430000,76.330002,77.599998,77.599998,10027600
2008-01-28,76.910004,77.400002,74.339996,75.820000,75.820000,8505300
2008-01-29,75.769997,75.900002,72.059998,73.949997,73.949997,9958000
2008-01-30,73.540001,77.419998,73.250000,74.209999,74.209999,25298700
2008-01-31,68.910004,78.870003,68.839996,77.699997,77.699997,42885900
2008-02-01,79.019997,79.400002,73.370003,74.629997,74.629997,16361000
2008-02-04,74.500000,76.660004,73.900002,73.949997,73.949997,9155200
2008-02-05,72.800003,74.209999,72.000000,72.089996,72.089996,9633900
2008-02-06,72.300003,72.430000,68.169998,68.489998,68.489998,12399500
2008-02-07,67.370003,72.709999,67.220001,70.910004,70.910004,14501700
2008-02-08,73.400002,74.599998,72.519997,73.500000,73.500000,11700400
2008-02-11,73.139999,75.959999,72.769997,75.190002,75.190002,7763700
2008-02-12,75.430000,77.050003,73.790001,74.449997,74.449997,9449000
...,...,...,...,...,...,...
2018-10-12,1808.000000,1808.949951,1742.530029,1788.609985,1788.609985,9444600
2018-10-15,1795.000000,1795.050049,1734.229980,1760.949951,1760.949951,6437200
2018-10-16,1783.500000,1823.880005,1761.550049,1819.959961,1819.959961,5859900
2018-10-17,1842.790039,1845.000000,1807.000000,1831.729980,1831.729980,5295200
2018-10-18,1821.489990,1830.150024,1767.869995,1770.719971,1770.719971,5874000
2018-10-19,1785.160034,1809.099976,1753.000000,1764.030029,1764.030029,5907200
2018-10-22,1784.000000,1809.500000,1756.000000,1789.300049,1789.300049,4500000
2018-10-23,1742.239990,1776.339966,1714.000000,1768.699951,1768.699951,6723900
2018-10-24,1773.699951,1777.709961,1656.560059,1664.199951,1664.199951,6928400
2018-10-25,1703.339966,1794.810059,1692.010010,1782.170044,1782.170044,10285700
2018-10-26,1649.589966,1698.459961,1603.000000,1642.810059,1642.810059,14963800
2018-10-29,1660.000000,1665.739990,1495.000000,1538.880005,1538.880005,13866100
2018-10-30,1486.160034,1540.989990,1476.359985,1530.420044,1530.420044,12460100
2018-10-31,1569.989990,1623.910034,1565.089966,1598.010010,1598.010010,9390200
2018-11-01,1623.530029,1670.449951,1598.439941,1665.530029,1665.530029,8135500
2018-11-02,1678.589966,1697.439941,1651.829956,1665.530029,1665.530029,6955500
2018-11-05,1657.569946,1658.089966,1596.359985,1627.800049,1627.800049,5624700
2018-11-06,1618.349976,1665.000000,1614.550049,1642.810059,1642.810059,4257400
2018-11-07,1673.000000,1759.229980,1664.079956,1755.489990,1755.489990,8192200
2018-11-08,1755.000000,1784.000000,1725.109985,1754.910034,1754.910034,6534900
2018-11-09,1732.500000,1743.920044,1701.869995,1712.430054,1712.430054,5902200
2018-11-12,1698.239990,1708.550049,1630.010010,1636.849976,1636.849976,6806200
2018-11-13,1649.290039,1677.060059,1613.750000,1631.170044,1631.170044,5933300
2018-11-14,1656.319946,1673.000000,1597.069946,1599.010010,1599.010010,6486900
2018-11-15,1581.010010,1624.819946,1546.510010,1619.439941,1619.439941,8427300
2018-11-16,1587.500000,1614.479980,1573.119995,1593.410034,1593.410034,6066100
2018-11-19,1577.010010,1581.189941,1503.359985,1512.290039,1512.290039,7790000
2018-11-20,1437.500000,1534.750000,1420.000000,1495.459961,1495.459961,10878800
2018-11-21,1542.989990,1550.000000,1515.000000,1516.729980,1516.729980,5716800
2018-11-23,1517.000000,1536.199951,1501.810059,1502.060059,1502.060059,2707600

## Features and label

In our case, what are the features and what is the label? We're trying to predict the price, so is price the label? If so, what are the featuers? When it comes to forecasting out the price, our label, the thing we're hoping to predict, is actually the future price. As such, our features are actually: current price, high minus low percent, and the percent change volatility. The price that is the label shall be the price at some determined point the future.

In [44]:
df = portf_value[['Open',  'High',  'Low',  'Close', 'Volume']]

df['HL_PCT'] = (df['High'] - df['Low']) / df['Close'] * 100.0
df['PCT_change'] = (df['Close'] - df['Open']) / df['Open'] * 100.0

df = df[['Close', 'HL_PCT', 'PCT_change', 'Volume']]
print(df.head())

                Close    HL_PCT  PCT_change    Volume
Date
2007-12-31  92.639999  2.072545   -1.247201   5755200
2008-01-02  96.250000  2.836367    0.943893  13858700
2008-01-03  95.209999  2.867349   -0.884863   9122500
2008-01-04  88.790001  5.518642   -4.793053  10270000
2008-01-07  88.820000  5.741949    0.225679   9981600

## Fill NaN data

We fill any NaN data with -99999. It's a popular option is to replace missing data with -99,999. With many machine learning classifiers, this will just be recognized and treated as an outlier feature.

In [45]:
forecast_col = 'Adj Close'
df.fillna(value=-99999, inplace=True)

## Forecast out

We're saying we want to forecast out 1% of the entire length of the dataset. Thus, if our data is 100 days of stock prices, we want to be able to predict the price 1 day out into the future. Choose whatever you like. If you are just trying to predict tomorrow's price, then you would just do 1 day out, and the forecast would be just one day out. If you predict 10 days out, we can actually generate a forcast for every day, for the next week and a half.

In [46]:
forecast_out = int(math.ceil(0.01 * len(df)))

## Shift the values

https://stackoverflow.com/questions/44675650/what-is-meant-by-shift-in-dataframe

In [47]:
df['label'] = portf_value[forecast_col].shift(-forecast_out)

## Drop NaN values

We'll then drop any still NaN information from the dataframe.

In [48]:
df.dropna(inplace=True)

##  Define our features and labels as arrays and preprocessing

Generally, you want your features in machine learning to be in a range of -1 to 1. This may do nothing, but it usually speeds up processing and can also help with accuracy.

In [49]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

## Create the label 'y'

In [50]:
y = np.array(df['label'])

# Training and testing

Now comes the training and testing. The way this works is you take, for example, 75% of your data, and use this to train the machine learning classifier. Then you take the remaining 25% of your data, and test the classifier. Since this is your sample data, you should have the features and known labels. Thus, if you test on the last 25% of your data, you can get a sort of accuracy and reliability, often called the confidence score. There are many ways to do this, but, probably the best way is using the build in cross_validation provided, since this also shuffles your data for you.

In [51]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

## Classifier

Let's use Linear Regression from Scikit-Learn's svm package

In [52]:
clf = LinearRegression()

## Training

In [53]:
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

## Testing

In [54]:
confidence = clf.score(X_test, y_test)

## Confidence

In [55]:
print("Confidence: ", confidence)

Confidence:  0.9811923006018388

In [ ]:
for k in ['linear','poly','rbf','sigmoid']:
    clf = svm.SVR(kernel=k)
    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print(k,confidence)